/* Font definitions and variables */
@layer base {
  :root {
    --font-sans: ui-sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --font-code: "Google Sans Code", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }
}

@layer utilities {
  .font-code {
    font-family: var(--font-code);
    font-optical-sizing: auto;
    font-style: normal;
  }

  .google-sans-code {
    font-family: var(--font-code);
    font-optical-sizing: auto;
    font-style: normal;
  }
}
